<div class="container">
    <br>
    <div class="card bg-sure text-white">
        <img src="assets/img/cafe8.jpg" class="card-img" alt="contacto" width="500" height="250">
        <div class="card-img-overlay">
         <h1  class="site-heading text-center text-faded d-none d-lg-block ">

                  PRODUCTOS    </h1> 
                </div>
                </div>
<br>
<div claas="container">
    
    <div class="row">
        <div class="col-sm-3">
          <div class="card border-info mb-3" style="max-width: 18rem;">
    <img src="assets/img/cafegourmet.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
<div class="card border-info mb-3" style="max-width: 18rem;">
    <img src="assets/img/pasta.png"  height="500" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-info mb-3" style="max-width: 18rem;">
    <img src="assets/img/aceite.png" width="400" height="300" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card border-info mb-3" style="max-width: 18rem;">
    <img src="assets/img/arveja.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <a href="https://cafesellorojo.com/">
    </a>
  </div>
  