<div class="container">
  <br>
  
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/img/cafe1.png" class="d-block w-100" alt=".cafe 1" width="550" height="350">
              </div>
              <div class="carousel-item">
                 
                <img src="assets/img/cafe2.png" class="d-block w-100" alt="cafe 2" width="550" height="350">
            
              </div>
              <div class="carousel-item">
                <img src="assets/img/cafe3.png" class="d-block w-100" alt="cafe 3" width="550" height="350">
              </div>
              <div class="carousel-item">
                <img src="assets/img/cafe34.png" class="d-block w-100" alt="cafe 3" width="550" height="350">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </div>
      <div class="container">
        <div class="Inicio">
           
            <div class="inicio-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Fresh Coffee</span>
                    <span class="section-heading-lower">Worth Drinking</span>
                </h2>
                <p class="mb-3">Every cup of our quality artisan coffee starts with locally sourced, hand picked ingredients. Once you try it, our coffee will be a blissful addition to your everyday morning routine - we guarantee it!</p>
              
        </div>
    </div>


      <footer class="footer text-faded text-center py-5">
        <div class="container"><p class="m-0 small">
          Page Made By &copy; Andres Orozco & Robinson Gaitan 2022</p></div>
    </footer>










</div>
