<div class="container">
  <br>
  <div class="card bg-Sure text-black">
    <img src="assets/img/cafr.jpg" class="card-img" alt="contacto" width="500" height="250">
    <div class="card-img-overlay">
     <h1  class=" site-heading text-center text-faded d-none d-lg-block ">

              QUIENES SOMOS    </h1> 
            </div>
            </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">MISION</h3>
          <p class="card-text">Inspirados en fieles principios de función social, crecimiento personal y bienestar comunitario, abastecer el mercado nacional y/o internacional de café verde y/o procesado (tostado y molido y/o soluble y/o liofilizado) y/o derivados del café y/o afines y/o demás productos alimenticios, al amparo de los mas altos estándares de calidad y control, para satisfacer las expectativas del consumidor final y la cadena comercial. Generando agregados de valor que permitan la viabilidad y estabilidad económica y laboral presente y futura de la Gran Familia CAFEPAS</p>
        </div>
      </div>
    </div>
    <br>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">VISION</h3>
          <p class="card-text">Con una Visión humanista y de respeto comunitario, hacer segura y viable la opción industrial de la Gran Familia CAFEPAS, creciendo vertical y horizontalmente en la participación de la categoría café y otros productos alimenticios, nacional e internacionalmente.</p>
        </div>
      </div>
    </div>
  </div>

</div>
