<div class="container">
  <img src="assets/img/logocafe.png" alt="" width="100" height="100" class="d-inline-block align-text-top">

  <br>
  
  <ul class="nav">
  <li class="nav-item">
    <button  class="btn btn-default" (click)="Inicio()">Inicio</button>
  </li>
  <li class="nav-item">
    <button  class="btn btn-default" (click)="NuestrosProductos()" aria-expanded="false">Nuestros Productos</button>
  </li>
  
  <li class="nav-item">
    <button  class="btn btn-default" (click)="Contacto()">Contacto</button>
  </li>
  <li class="nav-item">
    <button  class="btn btn-default" (click)="SobreNosotros()">Sobre Nosotros</button>
  </li>
</ul>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="NuestrosProductos" aria-expanded="false">
    Action
  </button>
  <ul class="dropdown-menu">
    <li><a class="NuestrosProductos-item" href="#">Action</a></li>
    <li><a class="NuestrosProductos-item" href="#">Another action</a></li>
    <li><a class="NuestrosProductos-item" href="#">Something else here</a></li>
    <li><hr class="NuestrosProductos-divider"></li>
    <li><a class="NuestrosProductos-item" href="#">Separated link</a></li>
  </ul>
</div>


<router-outlet></router-outlet>
